// Define variables for your color scheme

// For example:
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$primary: rgb(35, 87, 137);
$secondary: rgb(200, 153, 51);
$white: rgb(250, 246, 246);
$red: rgb(201, 93, 99);
